td,td{
padding-left: 10px;
padding-right: 10px;

}
td{
padding-top: 5px;
}
th{
vertical-align: top;
}

body{
background-color:#b0bec5;
}
.container{
margin-top:5%;
border: 1px solid green;
padding: 10px ;
max-width: 50%;
background-color:lightgoldenrodyellow;
}
table, th, td {
border-collapse: collapse;
}

table.center {
margin-left: auto;
margin-right: auto;
}

h1,h2{
background-color:#f44336;
color:white;
text-align:-webkit-center;
max-width:60%;
margin-left:20%;
}

.container1{
    max-width:70%;
    margin-top:3%;
    padding: 10px ;
    margin-left:15%;
    background-color:lightgoldenrodyellow;

}
